<template>
  <div class="flights">
    <div id="header">
      <h1 class="fleft">Choose Your Flights <span style="color: #15120e29;"> from Moscow to Antalya</span></h1>
      <div class=fright><p>ss</p>
        <div id='dropdownlist'>
          
          <ejs-dropdownlist :dataSource="localData" :fields="localField" placeholder="Price(Descending)" popupWidth="250px" popupHeight="200px">
          </ejs-dropdownlist>
        </div>
      </div>
    </div>
    <div id="sidebar">
 
    </div>
    <div id="main">
      <div id='app'>
        <ejs-grid :dataSource="localData" :allowPaging="true" :pageSettings=pageSettings 
        :allowSorting='true'>
              <e-columns>
              <e-column field='OrderID' headerText='fv' textAlign='Right' width=90></e-column>
              <e-column field='CustomerID' headerText='sdf' width=120></e-column>
              <e-column field='Freight' headerText='df' textAlign='Right' format='C2' width=90>
              </e-column>
             </e-columns>
        </ejs-grid>
      </div>
    </div>

    
  </div>
</template>

<script>
import Vue from 'vue';
import { DropDownListPlugin } from '@syncfusion/ej2-vue-dropdowns';
Vue.use(DropDownListPlugin);

import { GridPlugin, Page, Sort } from '@syncfusion/ej2-vue-grids';
Vue.use(GridPlugin);

export default {
  name: 'Flights',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    };
  },



  data (){
  return{
  localData:[
      {Id:'p1', Price:'Price(asecnding)'},
      {Id:'p2', Price:'Price(desecnding)'}
  ],
  localField: {value: 'Id', text: 'Price'}
  };
  },


  data () {
    return {
      localData:[
                { OrderID: 10248, CustomerID: 'VINET', Freight: 32.38 },
          { OrderID: 10249, CustomerID: 'TOMSP', Freight: 11.61 },
          { OrderID: 10250, CustomerID: 'HANAR', Freight: 65.83 },
          { OrderID: 10251, CustomerID: 'VICTE', Freight: 41.34 },
          { OrderID: 10252, CustomerID: 'SUPRD', Freight: 51.3 },
          { OrderID: 10253, CustomerID: 'HANAR', Freight: 58.17 },
          { OrderID: 10254, CustomerID: 'CHOPS', Freight: 22.98 },
          { OrderID: 10255, CustomerID: 'RICSU', Freight: 148.33 },
          { OrderID: 10256, CustomerID: 'WELLI', Freight: 13.97 }
  ],
  pageSettings: { pageSize: 5 }
    };
     provide: {
    grid: [Page, Sort]
  }
}
}
</script>

<style>
@import url(https://cdn.syncfusion.com/ej2/material.css);
</style>